@import "./styles.css";


:root{
    --h-title-color:#000000;
}

.header {
    border-bottom: solid 2px #000000;
}

.bg-bottom {
    background-color: var(--h-title-color);
}

.top-section {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.top-section h2 {
    font-weight: 400;
}

.top-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.5); */
}

section header h2{
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-weight: 500;
    font-size: 1.75rem;
    color: #343a40;
}

a, a:hover, a:focus, a:active {
    color: #000000;
}

.user-photo img {
    width: 100% !important;
    max-width: 100%;
    height: auto !important;
    border-radius: 0.5rem;
}

details > summary {
  list-style: none;
  cursor: pointer;
}
details > summary::-webkit-details-marker {
  display: none;
}

summary {
    font-size: 1.1rem;
    font-weight: 500;
    color: #343a40;
}

#mainNav {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
}

#mainNav .navbar-brand {
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: none;
    color: #343a40;
}

#mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

